*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;

}
.todolist{
    width: 400px;
    background-color: hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    h1{
        font-size: 2.5rem;
        color: black;
    }
}
ol{
    list-style: none;
}
.middle{
    display: flex;
    justify-content: center;
}
.input{
    flex-grow: 1;
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.add-button{
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(120, 100%, 35%);
    border-radius: 5px;
}
.add-button:hover{
    background-color: hsl(120, 100%, 25%);
}
ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    width: 100%;
    display: flex;
    background-color: hsl(0, 0%, 90%);
    padding: 5px;
    align-items: center;
}
.text{
    flex-grow: 1;
    font-size: 22px;
    font-weight: bold;
}
.delete-button{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(0, 87%, 47%);
    border-radius: 5px;
}
.delete-button:hover{
    background-color: hsl(0, 87%, 37%);
}
.up-button{
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(239, 83%, 50%);
    border-radius: 5px;
}
.up-button:hover{
    background-color: hsl(239, 83%, 40%);
}